/* General */

.button a {
    border-bottom: 1px solid #777;
    border-left: 1px solid #000;
    border-right: 1px solid #333;
    border-top: 1px solid #000;
    color: #000;
    display: block;
    height: 2.5em;
    padding: 0 1em;
    width: 5em;       
    text-decoration: none;       
}

.mainholder {
    width: 700px;
    font: 13px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #999;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-weight: 300;
}

.mainholderMobile {
    width: auto;
    font: 11px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4d4d4d;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-weight: 300;
}

.view {
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #ededed;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    padding-left: 10px;
    padding-right: 10px;
}

input[type="text"] {
    display: inline-block;
    width: 80%;
    font-size: 16px;
    border: none;
    color: #000 !important;
    background-color: #777 !important;
    padding: 0 0;
    margin-top: 0;
    height: auto;
    padding-left: 10px;
}

input[type=text]:focus {
    color: #fff !important;
    border-color: rgba(82,168,236,.8);
    outline: 0;
    border-bottom: 1px solid gray;
    box-shadow: none;
}

input::placeholder {
  color: #bbb !important;
}

label {
    display: inline-block;
}

#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sortable li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  border-radius: 3px;
  min-height: 16px;
}

.hideMe {
    display:none !important;
} 

.blurMe {
    filter: blur(15px);
}

.containerNoWrap {
    white-space: nowrap;
}

.containerFloatLeft {
    float: left;
}

.containerFloatRight {
    float: right;
}

.containerFloatClear {
    clear: left;
    clear: right;
}


/* Notes elements */

.liNote {
    padding: 5px 10px 12px 15px!important;
    background-color: rgba(246, 246, 246, 0.7);
}

.liNewNote {
    padding: 5px 10px 12px 15px!important;
    background-color: rgba(246, 246, 246, 0.9);
}

.labelNewNote {
    font-weight: 700;
    padding-bottom: 5px;
}

.textareaNewNote {
    display: inline-block;
    color: #999;
}

.noteTitle {
    color: #1f1f1f;
}

.noteTitleLabel {
    margin-top: 0;
    padding-left: 10px;
    height: 20px;
}

.noteDescriptionClass {
    padding: 5px 10px 0 40px;
    color: #7a7a7a;
    font-size: 15px;
    min-height: 16px;
}

.sortableHandle {
    float: right;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    padding-left: 15px;
    padding-right: 10px;
    font-size: 16px;
}

.showDetails {
    float: right;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    padding-left: 5px;
    padding-right: 5px;
}

.showDetailsNew {
    float: right;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    padding-left: 5px;
    padding-right: 5px;
}

.saveNewNote {
    float: right;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    padding-left: 5px;
    padding-right: 5px;
}

div .saveNoteHolder {
    padding: 5px 0 10px 20px;
}

.singleNoteToTask {
    float: right;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 10px;
}

.singleNoteDelete {
    float: right;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 10px;
}

.singleNoteSave {
    float: right;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 10px;
}

.settingsDeleteAllDone  {
    float: right;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    padding-right: 5px;
    padding-left: 5px;
}

.settingsAnalytics  {
    float: right;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 10px;
}

.settingsReport  {
    float: right;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 10px;
}


div .singleNoteDeleteHolder {
    padding: 5px 0 10px 20px;
}

.checkDone {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    padding-left: 10px;
    padding-right: 10px;
    color: #1f1f1f;
}

.noteDoneDesignText {
    color: #777;
    text-decoration: line-through;
}

#item-0 .noteDescriptionClass {
    padding: 5px 10px 0 40px;
}

textarea {
    resize: vertical;
    min-height: 50px;
    max-height: 350px;
    height: 50px;
    width: 320px;
    padding: 5px;
    color: #777;
    margin-top: 5px;
}


.categories {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    color: #1f1f1f;
}

.textareaDescription {
    display: inline-block;
    background: none;
    border: 1px solid #777;
    white-space:pre-wrap;
}

.textareaDescriptionSelected {
    display: inline-block;
    color: #000 !important;
    background-color: #777;
}

.textareaDescriptionSelected:focus {
    color: #fff !important;
}

.catSelector {
    margin-top: 3px;
}

.catLabel {
    float: right;
    cursor: default;
    margin-top: 0;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    color: #1f1f1f;
    background: #999;
}


/* Style for report.php */

.page-headerName {
 font-family: 'Helvetica', Arial, sans-serif;
 font-size: 50px;
 line-height: 55px;
}

.reportTitleLabel {
    margin-top: 0;
    padding-left: 10px;
    max-width: 90%;
}

.reportTitle {
    color: #ddd;
}

.singleReportHide {
    float: left;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    padding: 5px 5px 5px 5px;
    margin-right: 15px;
}

.reportDescriptionClass {
    padding: 5px 10px 0 20px;
    color: #7a7a7a;
    font-size: 12px;
    min-height: 16px;
}

.tableReport {
    border-bottom: none;
    border-left: 1px solid #ccc;
    border-right: none;
    border-top: none;
}

.theadReport {
   font-family: 'Helvetica', Arial, sans-serif;
   font-size: 14px;
   line-height: 16px;
}

.thReport {
   border-top: 1px solid #ccc;
   padding-left: 10px;
   border-left: none;
   border-bottom: 1px solid #ccc;
   background-color: rgba(37, 37, 37, 0.75);
}

.thReportNr {
   padding-left: 60px;
   width: 80px;
}

.thReportStatus {
    border-right: 1px solid #ccc;
    width: 45px;
}

.thReportResponsible {
    width: 45px;
}

.textareaReportDescription {
    display: inline-block;
    margin-left: 10px;
    padding: 10px 10px 10px 10px;
    background-color: #555;
    border: 0px;
    white-space:pre-wrap;
}


.tdReport {
   background-color: rgba(92, 92, 92, 0.50);
}

.tdReportNr {
    border-left: none;
    padding-left: 10px;
    font-weight: 600;
}

.tdReportInfo {
    border-left:none;
    padding-left: 0;
}

.tdReportResponsible {
    border-left:none;
}

.tdReportStatus {
    border-left:none;
    border-right: 1px solid #ccc;;
}


/* Tabs jquery */

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 4.5px 4px 1px 5px;
    font-size: 13px;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    height: 25px;
    margin: 0 -1px .2em 0;
}
.ui-tabs-vertical .ui-tabs-nav li {
    height: 25px;
    overflow:hidden;
}


@media (max-width : 751px) {
    .mainholder {
        width: auto;
        font: 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #999;
        -webkit-font-smoothing: antialiased;
        position: relative;
        font-weight: 300;
    }
}
